<%- include("./includes/head", { pageTitle: "Error" }) %>
</head>
<body>
  <%- include("./includes/header") %>
  <main>
    <h1>Error - Status Code 401</h1>
    <p>Not Authenticated.</p>
    <p><a class="btn" href="/">Back to home</a></p>
  </main>
<%- include("./includes/footer") %>