form hr {
  border-color: var(--color-primary-200);
  margin: var(--space-4);
}

form label {
  color: var(--color-gray-100);
  display: block;
  margin-bottom: var(--space-2);
}

form input,
form textarea {
  font: inherit; /* need to force io inherit font since input & textarea elements have theur own font */
  padding: var(--space-2);
  border-radius: var(--border-radius-small);
  border: none;
  width: 90%;
}

#image-preview {
  display: flex;
  align-items: center;
}

#image-preview input {
  max-width: 15rem;
}

#image-preview img {
  display: none;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: var(--border-radius-small);
}