<%- include("../../shared/includes/head", { pageTitle: "Order Cancel" }) %>
</head>
<body>
  <%- include("../../shared/includes/header") %>
  <main>
    <h1>Order was cancelled.</h1>
  </main>
<%- include("../../shared/includes/footer") %>