<%- include("../../shared/includes/head", { pageTitle: "Order Success" }) %>
</head>
<body>
  <%- include("../../shared/includes/header") %>
  <main>
    <h1>Order was successful.</h1>
    <p><a href="/orders">Orders page</a></p>
  </main>
<%- include("../../shared/includes/footer") %>