<header id="main-header">
  <div id="logo"><a href="/">SOS</a></div>
  <nav>
    <%- include("nav-items") %>
  </nav>
  <button id="mobile-menu-btn">
    <div></div>
    <div></div>
    <div></div>
  </button>
</header>
<aside>
  <nav>
    <%- include("nav-items") %>
  </nav>
</aside>