<%- include("../../shared/includes/head", { pageTitle: "Add Orders" }) %>
<link rel="stylesheet" href="/css/order.css">
<script src="/js/update-order-status.js" defer></script>
</head>
<body>
  <%- include("../../shared/includes/header") %>
  <main>
    <%- include("../../shared/includes/order-list") %>
  </main>
<%- include("../../shared/includes/footer") %>