<%- include("../../shared/includes/head", { pageTitle: "Add New Product" }) %>
<link rel="stylesheet" href="/css/form.css">
</head>
<body>
  <%- include("../../shared/includes/header") %>
  <main>
    <h1>Add New Product</h1>
    <!-- 'enctype' of form data with images should be 'multipart/form-data' -->
    <!-- 'multipart/form-data' could not send csrf tokens with input element which is hidden -->
    <form action="/admin/products/add?_csrf=<%= locals.csrfToken %>" method="POST" enctype="multipart/form-data">
      <p>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required>
      </p>
      <p>
        <label for="image">Image</label>
        <input type="file" id="image" name="image" accept="image/png,image/jpg">
      </p>
      <p>
        <label for="summary">Summary</label>
        <input type="text" id="summary" name="summary" required maxlength="255">
      </p>
      <p>
        <label for="price">Price</label>
        <input type="number" id="price" name="price" required min="1000" step="1000">
      </p>
      <p>
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="7" required></textarea>
      </p>
      <p>
        <button type="reset" class="btn btn-alt">Reset</button>
        <button type="submit" class="btn">Submit</button>
      </p>
    </form>
  </main>
<%- include("../../shared/includes/footer") %>